@import 'src/assets/styles/vars';

.go-back{
  color: $primary;
  margin: 2*$grid-gutter;
  display: inline-block;
}

.holder{
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $sm) {
    flex-wrap: nowrap;
  }
}

.sidebar{
  width: 100%;
  display: flex;
  flex-direction:column;

  @media (min-width: $sm) {
    width: 25%;
  }
}

.error{
  text-align: center;
  margin: 4*$grid-gutter;
}


.content{
  width: 100%;

  @media (min-width: $sm) {
    width: 75%;
  }
}

.sidebar,
.content{
  padding: 2*$grid-gutter;
}


// sidebar
h1{
  font-size: 1.6em;
  margin-bottom: $grid-gutter;
  word-wrap: break-word;
  order: 0;

  @media (min-width: $sm) {
    margin-bottom: 4*$grid-gutter;
    font-size: 2em;
  }

  @media (min-width: $md) {
    font-size: 2.5em;
  }
}

.cover{
  max-width: 60%;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);
  order: 2;
  
  @media (min-width: $sm) {
    order: 1;
    margin: 0;
    max-width: 100%;
  }

  img{
    max-width: 100%;
  }
}

.genre,
.details{
  margin: 2*$grid-gutter 0;

  @media (min-width: $sm) {
    margin: 4*$grid-gutter 0;
  }
}

.genre{
  order: 3;
}

.details{
  order: 4;
  display: flex;
  justify-content: space-between;
}



// author
.author{
  display: flex;
  align-items: center;
  padding-bottom: 2*$grid-gutter;
  border-bottom: 1px dotted $primary;
  margin-top: 0;
  order: 1;

  @media (min-width: $sm) {
    margin: 2*$grid-gutter 0;
    order: 2;
  }
}

.avatar{
  border-radius: 50%;
  max-width: 80px;
  display: none;
  margin-right: 2*$grid-gutter;

  @media (min-width: $sm) {
    display: block;
  }
}


// content
.description{
  border-bottom: 1px dotted $primary;
  color: $primary;
  padding-bottom: 4*$grid-gutter;
  font-size: 1.5em;
}

.fragment{
  padding: 2*$grid-gutter 0;
}