@import 'src/assets/styles/vars';


// filters
.book-filter{
  border-bottom: 1px dotted $primary;
  padding: $grid-gutter;
  display: flex;
  flex-wrap: wrap;
  
  @media (min-width: $sm) {
    flex-wrap: nowrap;
  }
}

.field{
  display: flex;
  width: 100%;
  align-items: center;
  padding: $grid-gutter;
  justify-content: space-between;

  @media (min-width: $sm) {
    width: 33%;
    justify-content: flex-start;
  }
}

select,
input{
  @media (min-width: $sm) {
    margin-left: $grid-gutter;
  }
}

select{
  width: 50%;
}

input{
  width: 100%;
}


// list
.book-list{
  display: flex;
  flex-wrap: wrap;
}

.book{
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,.5);
  cursor: pointer;
  margin: 2%;
  width: 46%;
  
  @media (min-width: $sm) {
    margin: 1.5%;
    width: 30.3%;
  }
  @media (min-width: $md) {
    margin: 1%;
    width: 23%;
  }
}

.cover{
  max-width: 100%;
  height: auto;
}

.cover-info{
  transition: background .2s;
  background: linear-gradient(to top, rgba(0,0,0,.8), transparent);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  &:hover{
    background: linear-gradient(to top, rgba($primary,.8), transparent);
  }
}

.name,
.author,
.details{
  padding: 10px;
}

.name{
  word-wrap: break-word;
  font-size: 1.5em;

  @media (min-width: $sm) {
    font-size: 1.65em;
  }

  @media (min-width: $md) {
    font-size: 1.8em;
  }
}

.author{  
  @media (min-width: $sm) {
    font-size: 1.2em;
  }
}

.details{
  display: flex;
  justify-content: space-between;
} 

.likes,
.time-ago{
  font-size: .85em;
}


// pagination
.pagination{
  margin: auto;
  text-align: center;
  padding: 2*$grid-gutter;

  li{
    display: inline-block;
    line-height: $tap-size;
    width: $tap-size;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
      background: rgba($primary, .3);
    }

    &.active{
      background: $primary;
      color: #fff;
    }
  }
}