/* You can add global styles to this file, and also import other style files */

@import './form';


body{
  font-family: 'Sanchez', serif;
}

body,
kw-app-root,
.loading{
  min-height: 100vh;
}

.loading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}